BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
LOCALHOST_RPC_URL=http://127.0.0.1:8545
RPC_URL=
CHAIN_ID=84532
PRIVATE_KEY=
BASESCAN_API_KEY=
DEPLOYER_ADDRESS=
GAME_CONTRACT_ADDRESS=
SPENDER_TOKEN_ADDRESS=
REWARD_TOKEN_ADDRESS=
START_BLOCK=
TO_BLOCK=
DEPLOYMENT_FILE=
